---
---

@import "{{ site.theme }}";

body {
  background-color: #FAFAFA;
}
h1 a {
color: #2979ff;
}
p.view  {
  visibility: hidden;
  opacity: 0;
  }
p {
text-color: #6d7178;
}
p.description {
text-color: #727272;
}
